/thinkpython/words.txt
/newcoderio/api/key
**.idea/
.**/
/thinkpython/text.txt
/thinkpython/c06d.txt
/thinkpython/alice.txt
/thinkpython/poems.txt
/thinkpython/anagrams.db
/thinkpython/actors.list.gz
/thinkpython/imdb.py
/thinkpython/actresses.list.gz
/misc/log_res.txt
/misc/dealers.csv
/thinkpython/d-idio.txt
